@import url('https://fonts.googleapis.com/css?family=Cinzel|Hind+Madurai|Lobster|Pathway+Gothic+One|Ropa+Sans&display=swap');

:root {
    font-family: 'Hind Madurai', sans-serif;
    --main-color: #12094A;
    --second-color: white;
}

body{
    max-width: 980px;
    margin: auto;
}

body header {
    font-family: 'Lobster', cursive;
    color: var(--main-color);
    background-image: url(../img/fone.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

body header nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

body header nav h1 {
    text-align: center;
}

body header nav div {
    font-family: 'Ropa Sans', sans-serif;
    display: flex;
    margin: 20px;
    align-items: center;
    text-transform: uppercase;
}

body header nav div label {
    font-size: 12px;
    color: white;
    margin: 10px 20px;
    
}

body header div.font-label {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 4rem;
    text-transform: uppercase;
    color: var(--second-color);
    margin: 50px 0 0 0;
    letter-spacing: 15px;
}

body header div p {
    margin: 0;
}

body aside {
    background-color: #ccffff;
    text-align: center;
    padding-top: 20px;
}

body main {
    background-image: url(../img/fon-bouquiet.png);
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #f1e6e4;
    padding-top: 150px;
}

body main.container {
    display: grid;
    grid-template-rows: 2fr 2fr 3fr;
    text-align: center;
    color: black;
}

.card {
    background-color: #f1e6e4;
}

.btn-primary {
    color: #fff;
    border-color: #1a1a1a;
    background-color: #ac1643;
}

nav div button.btn {
    border-radius: 40px;
}

.action-button {
    font-family: 'Ropa Sans', sans-serif;
    display: inline-block;
	border-radius: 10px;
    color: #f7f7f9;
    font-size: 12px;
    text-transform: uppercase;
    background-color: #ac1643;
    margin: 40px;
}

#History {
    text-align: center;
    background-color: #9fe0ff;
}

.mb-3 {
    background-color: #9fe0ff;
}