@import url('https://fonts.googleapis.com/css?family=Cinzel|Hind+Madurai|Lobster|Pathway+Gothic+One|Ropa+Sans&display=swap');

:root {
    font-family: 'Hind Madurai', sans-serif;
    --main-color: #12094A;
    --second-color: white;
}

body header {
    font-family: 'Lobster', cursive;
    color: var(--main-color);
    background-image: url(../img/fone.png);
    background-position: center;
    background-size: cover;
    min-height: 500px;
}

body header nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding-top: 20px;
}

div.addInfo {
    display: flex;
    justify-content: flex-end;
}

button#dropdownMenuButton.btn-secondary {
    border-color: #ac1643;
    background-color: #ffdcdc2e;
}

button#dropdownMenuButton.btn-secondary:hover {
    background-color: #ea2d6257;
}

body header nav h1 {
    text-align: center;
}

body header nav div {
    font-family: 'Ropa Sans', sans-serif;
    display: flex;
    margin: 20px;
    align-items: center;
    text-transform: uppercase;
}

body header nav div label {
    font-size: 12px;
    color: white;
    margin: 10px 20px;
    
}

body header div p {
    margin: 0;
}

body aside {
    background-color: #ccffff;
    text-align: center;
    padding-top: 20px;
}

div.aside-title {    
    font-style: italic;
    letter-spacing: 2px;
    font-size: 19px;
}

div.carousel-caption {
    color: #6b00cc;
    background-color: #f0ffff87;
}

body main {
    background-image: url(../img/fon-bouquiet.png);
    min-height: 500px;
    background-repeat: no-repeat;
    background-position: top;
    background-color: #f1e6e4;
    padding-top: 150px;
}

body main.container {
    display: grid;
    grid-template-rows: 2fr 2fr 2fr;
    text-align: center;
    color: black;
    padding-top: 192px;
}

main span {
    background-color: #ffffff75;
    padding: 10px 10px 10px 10px;
}

main h3 {
    font-style: italic;
    letter-spacing: 5px;
}

.card {
    background-color: #f1e6e4;
    height: 50%;
}

.btn-primary {
    color: #fff;
    border-color: #1a1a1a;
    background-color: #ac1643;
}

nav div button.btn {
    border-radius: 40px;
}

.act-button {
    font-family: 'Ropa Sans', sans-serif;
    display: inline-block;
    border-radius: 54px;
    color: #f8f9fa;
    font-size: 12px;
    text-transform: uppercase;
    border-color: #ac1643;
    background-color: #f3557d54;
    margin: 40px;
    padding: 10px;
    letter-spacing: 10px;
}

.act-button:hover {
    color: black;
    text-decoration: none;
}

#History {
    text-align: center;
    background-color: #9fe0ff;
    padding-top: 20px;
}

article#History h2 {
    font-style: italic;
    letter-spacing: 4px;
}

div.filters label {
    margin: 10px;
}

div.history-cards {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
}

div.card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
}

article#History div.card{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    width: 50%;
    height: 400px;
}

div.card.contemp {
    background-image: url(../img/contemporary.jpg);
}

div.card.hydration {
    background-image: url(../img/pions.jpg);
}

div.card.chi-town {
    background-image: url(../img/chi-town.jpg);
}

div.card.collection {
    background-image: url(../img/oleander-in-box.jpg);
}

div.card.article-flowers {
    background-image: url(../img/party-flower.jpg);
}

div.card.special-art {
    background-image: url(../img/women-make-flowers.png);
}

h5.card-history-title {
    font-style: italic;
    background-color: #f5f5dc6e;
    height: fit-content;
    color: black;
}

p.card-history-text {
    background-color: #f5f5dc7a;
    color: black;
}

p.card-history-text a {
    font-style: italic;
    color: black;
    text-decoration: underline;
}

footer {
    background-color: #f7da827d;
    display: flex;
    justify-content: space-around;
    padding: 21px;
}

footer div {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer div.socail-networks {
    flex-direction: row;
}

div.socail-networks a {
    margin-left: 15px;
}

@media (max-width:780px) {
    body header div.font-label {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 2rem;
        font-family: 'Pathway Gothic One', sans-serif;
        text-transform: uppercase;
        letter-spacing: 7px;
        color: var(--second-color);
        padding-top: 85px;
    }

    article#History div.card {
        width: 100%;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
    }

    footer div.socail-networks {
        flex-direction: row;
    }
}


@media (max-width:425px) {
    nav div.addInfo {
        display: none;
    }

    body header nav div label {
    font-size: 12px;
    color: white;
    margin: 10px 20px;  
    }

    body header div.font-label {
        letter-spacing: 5px;  
    }

    article#History div.card {
        width: 100%;
    }

    footer {
        display: block;
    }
}


@media (min-width:781px) {
    body header div.font-label {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: 'Pathway Gothic One', sans-serif;
        font-size: 4rem;
        text-transform: uppercase;
        color: var(--second-color);
        margin: 50px 0 0 0;
        letter-spacing: 15px;
        }
    }

.alert {
    position: fixed;
    top: 50px; 
    width: 50%;
    left: 25%;
    z-index: 1051;
}

      
   


